@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.AuscultationHistory.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CMCPS.Default.AuscultationHistoryGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>