{
    "RootNamespace": "CMCPS",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=XSERVER1; Initial Catalog=CMC_Default_v12; User=sa; Password=3p3200170@",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.IllNess",
                    "Identifier": "IllNess",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.IllnessHistory",
                    "Identifier": "IllnessHistory",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MajorSurgery",
                    "Identifier": "MajorSurgery",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Immunization",
                    "Identifier": "Immunization",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ImmunizationHistory",
                    "Identifier": "ImmunizationHistory",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.RegularMedication",
                    "Identifier": "RegularMedication",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.AdmissionppDetails",
                    "Identifier": "AdmissionppDetails",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.AdmissionPPDetails",
                    "Identifier": "AdmissionPpDetails",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Percussion",
                    "Identifier": "Percussion",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PercussionHistory",
                    "Identifier": "PercussionHistory",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Auscultation",
                    "Identifier": "Auscultation",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.AuscultationHistory",
                    "Identifier": "AuscultationHistory",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.BreathSound",
                    "Identifier": "BreathSound",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.BreathSoundHistory",
                    "Identifier": "BreathSoundHistory",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.VocalResonance",
                    "Identifier": "VocalResonance",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.VocalResonanceHistory",
                    "Identifier": "VocalResonanceHistory",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=XSERVER1; Initial Catalog=CMC_Northwind_v12;  User=sa; Password=3p3200170@",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\CMCPS\\CMCPS.Web\\CMC.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}