input[type="number"] {
    padding: 3px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.btn {
    padding: 3px 12px !important;
}
.ml{
    margin-left:-23px
}
.f19 {
    font-size: 19px
}
.f18 {
    font-size: 18px
}
.f17 {
    font-size: 17px
}
.f16{
    font-size:16px
}
.f15 {
    font-size: 15px
}
.f14 {
    font-size: 14px
}
.f13 {
    font-size: 13px
}
.f12 {
    font-size: 12px
}
.f12 {
    font-size: 12px
}