@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Bed.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CMCPS.Default.BedGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>