@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.IllnessHistory.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CMC.Default.IllnessHistoryGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>