@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Percussion.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CMCPC.Default.PercussionGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>