@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Outcome.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CMCPS.Default.OutcomeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>